.css-tile {
    top: 118px;
    left: 611px;
}

.css-tile1 {
    top: 208px;
    left: 771px;
}

.css-tile2 {
    top: 280px;
    left: 644px;
}
.css-tile3 {
    top: 280px;
    left: 899px;
}
.css-tile4 {
    top: 352px;
    left: 772px;
}
.css-tile5 {
    top: 352px;
    left: 1027px
}
.css-tile6 {
    top: 424px;
    left: 900px;
}

.css-tile7 {
    top: 424px;
    left: 900px;
}

.css-building {
    top: 118px;
    left: 611px;
}

.css-building1 {
    top: 208px;
    left: 771px;
}

.css-building2 {
    top: 280px;
    left: 644px;
}
.css-building3 {
    top: 280px;
    left: 899px;
}
.css-building4 {
    top: 352px;
    left: 772px;
}
.css-building5 {
    top: 352px;
    left: 1027px
}
.css-building6 {
    top: 424px;
    left: 900px;
}

.css-building7 {
    top: 424px;
    left: 900px;
}

.css-link {
    top: 192px;
    left: 630px;
}

.css-link1 {
    top: 282px;
    left: 803px;
}

.css-link2 {
    top: 354px;
    left: 672px;
}
.css-link3 {
    top: 353px;
    left: 934px;
}
.css-link4 {
    top: 423px;
    left: 798px;
}
.css-link5 {
    top: 423px;
    left: 1058px;
}
.css-link6 {
    top: 498px;
    left: 931px;
}
.css-link7 {
    top: 424px;
    left: 900px;
}
.css-map {
    height: 730px;
    padding-top: 50px;
    top: 50px;
    bottom: 0px;
    left: 0px;
    position: relative;
    margin-right: -20px;
    touch-action: pan-x;
    user-select: none;
    overflow: hidden;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow-y: hidden;
}

.b_text_div {
    position: relative;
    top: 74px;
    text-align: center;
}

.b_text {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
    pointer-events: none;
}

.background_img {
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: -0px;
    
}

.tile {
    position: absolute;
    width: 260px;
    cursor: pointer;
    pointer-events: none;
}

.link {
    z-index: 1;
    width: 200px;
    height: 100px;
    position: absolute;
    color: rgb(51, 51, 51);
    cursor: pointer;
    transition: margin-top 0.3s ease 0s;
}
