{% extends "layout.html"%}

{% block title %}
    TEST
{% endblock %}
{% block main %}
    foo bar baz<br>
    <div style="position: absolute;left: -341px;top: -50px;" class="tiles">
        <div id="basic level">
            <img src="../static/grass_tile.png" class="tiles" style="top: 118px;left: 611px;">
            <img src="../static/base_road.png" class="tiles" style="top: 146px;left: 819px;">
            <img src="../static/road_right.png" class="tiles" style="top: 163px;left: 691px;">
            <img src="../static/road_right.png" class="tiles" style="top: 235px;left: 564px;">
            <img src="../static/base_road.png" class="tiles" style="top: 163px;left: 849px;">
            <img src="../static/base_road.png" class="tiles" style="top: 235px;left: 977px;">
            <img src="../static/base_road.png" class="tiles" style="top: 307px;left: 1105px;">
            <img src="../static/grass_tile.png" class="tiles" style="top: 208px;left: 771px;">
            <img src="../static/grass_tile.png" class="tiles" style="top: 280px;left: 644px;">
            <img src="../static/grass_tile.png" class="tiles" style="top: 280px;left: 899px;">
            <img src="../static/grass_tile.png" class="tiles" style="top: 352px;left: 772px;">
            <img src="../static/grass_tile.png" class="tiles" style="top: 352px;left: 1027px;">
            <img src="../static/grass_tile.png" class="tiles" style="top: 424px;left: 900px;">
            <img src="../static/base_road.png" class="tiles" style="top: 307px;left: 532px;">
            <img src="../static/base_road.png" class="tiles" style="top: 325px;left: 564px;">
            <img src="../static/base_road.png" class="tiles" style="top: 397px;left: 692px;">
            <img src="../static/base_road.png" class="tiles" style="top: 469px;left: 820px;">
            <img src="../static/road_right.png" class="tiles" style="top: 379px;left: 1137px;">
            <img src="../static/road_right.png" class="tiles" style="top: 396px;left: 1107px;">
            <img src="../static/road_right.png" class="tiles" style="top: 468px;left: 979px;">
            <img src="../static/road_right.png" class="tiles" style="top: 486px;left: 947px;">
        </div>
    </div>
{% endblock %}